/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/Open_Sans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Body */
body {
  font-family: "Roboto", Arial, Verdana, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

/* Layout */
.container-fluid {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eceff1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(1320px, 100%);
}

.form-wrapper {
  position: relative;
  margin: auto;
  background-color: #263238;
  border-radius: 1rem;
  padding: 3rem;
  width: min(500px, 100%);
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  box-shadow: 0 0 30px 0.0625rem rgba(0, 0, 0, 0.3019607843);
  z-index: 2;
}

.gameboard-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  z-index: 2;
}

/* Typography */
.title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Form */
.form-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 1rem 0 0;
  width: 100%;
}

.form-control {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #607d8b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem;
  background: transparent;
  transition: border-color 0.3s;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 1.5rem;
  left: 0.5rem;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 1rem;
  color: #607d8b;
}

.form-control:placeholder-shown {
  border: 0;
  border-bottom: 2px solid #607d8b;
}

.form-control:focus,
.form-control:focus:placeholder-shown {
  border-width: 3px;
  border-image: linear-gradient(to right, #607d8b, #fff);
  border-image-slice: 1;
}

.btn-submit {
  display: inline-flex;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  background-color: #607d8b;
  color: #fff;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-submit:hover,
.btn-submit:active {
  background-color: #546e7a;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Gameboard */
.gameboard {
  position: relative;
  background-color: #263238;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px 0.0625rem rgba(0, 0, 0, 0.3019607843);
  z-index: 3;
}

.gameboard .row {
  display: flex;
}

.cell {
  width: 3rem;
  height: 3rem;
  background-color: #eceff1;
  border: 1px solid #607d8b;
}

@media only screen and (max-width: 1356px) {
  .cell {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .gameboard-wrapper {
    flex-wrap: wrap;
  }
}
